---
layout: default
---
            
{% for post in site.posts limit: 5 %}
                            
                            {% for image in post.images limit: 1 %}
                            <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ image }}" class="img-responsive"></a>
                            {% endfor %}
                                <div class="postData">
                                    <ul class="dataList">
                                        <li>{{ post.date | date: "%b %-d, %Y" | downcase }}</li>
                                        <li>//</li>
                                        <li>tags:</li>
                                        {% for tag in post.tags %}
                                        <li class="tag"><a href="{{ site.url }}_site/tags/{{ tag }}">{{ tag }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

{% endfor %}


