<!DOCTYPE html>
<html>
    <head>
    
        <title>rh + friends</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/style.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]--> 
        
    </head>
    <body>
    
        <div class="container-fluid">
            
            <div class="row">
                <div class="column-sm-12 column-md-12 column-lg-12">
                    <nav>
	                   <ul>
                        <li><a href="http://instagram.com/notjoehucik"><i class="fa fa-instagram fa-lg"></i></a></li>
                        <li><a href="{{ site.url }}/about">about</a></li>
                        <li><a href="{{ site.url }}/tags">tagsabouttags</a></li>
                        <li class="logo"><a href="{{ site.url }}">rh + friends</a></li>
	                   </ul>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="column-sm-12 column-md-12 column-lg-12">
                    <div class="container-fluid mainColumn">
                        