---
title: test post
layout: default
images: 
- /images/versailles.jpg
- /images/church.jpg
tags: 
- tag1
- tag2
- tag3
- playlist
---

<div class="postWrap">
    <div class="postData postPage">
        <h3 class="postTitle">{{ page.title }}</h3>
            <ul class="dataList">
                <li>{{ page.date | date: "%b %-d, %Y" | downcase }}</li>
                <li>//</li>
                <li>tags:</li>
                {% for tag in page.tags %}
                <li class="tag"><a href="{{ site.url }}/tags/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
    </div>


    {% for image in page.images %}
    <img src="{{ site.url }}{{ image }}" class="img-responsive postImg imgBorder">
    {% endfor %}
</div>